<div [hidden]="measurementOpen">
  <h2>New measurement</h2>
  <form [formGroup]="measurementForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input id="name" type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
      <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
        <div *ngIf="f.name.errors.required">Name is required</div>
        <div *ngIf="f.name.errors.pattern">Name contains forbidden characters</div>
        <div *ngIf="f.name.errors.maxlength">Name is too long. Maximum length is {{constants.FORM_MEASUREMENT_NAME_MAX_LENGTH}}</div>
        <div *ngIf="f.name.errors.minlength">Minimum length is {{constants.FORM_MEASUREMENT_NAME_MIN_LENGTH}}</div>
      </div>
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea id="description" class="form-control" formControlName="description"></textarea>
      <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
        <div *ngIf="f.description.errors.maxlength">Description is too long. Maximum length is {{constants.FORM_MEASUREMENT_DESCRIPTION_MAX_LENGTH}}</div>
      </div>
    </div>

    <div>
      <label for="typeOptions">Agent type</label>
      <select id="typeOptions" class="form-control"
              [(ngModel)]="measurement.agentTypeId"
              [ngModelOptions]="{standalone: true}">
        <option *ngFor="let item of agentTypes"
                [value]="item.agentTypeId">
          {{item.typeName}}
        </option>
      </select>
    </div>
    <br/>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Create and start</button>
      <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
      <a [routerLink]="[constants.ROUTE_IDENTIFIER_ROOT]" class="btn btn-link">Cancel</a>
    </div>
  </form>
</div>


<div id="editor-box" [hidden]="!measurementOpen" (keyup.n)="newAgentArrivalFunction()" (keyup.k)="endOfAgentDelayFunction()">
  <div id="buttons">
    <button
      class="btn-default btn-lg"
      (click)="newAgentArrivalFunction()">
      Novy zakaznik
    </button>

    <button
      class="btn-default btn-lg"
      (click)="endOfAgentDelayFunction()">
      Koniec obsluhy
    </button>

    <button
      class="btn-info btn-sm"
      (click)="reset()"
      title="Reset aplikacie">
      <i class="fas fa-redo-alt"></i>
    </button>

    <button
      class="btn-danger btn-sm"
      title="Vymazanie vsetkych udajov z databazy">
      <i class="fas fa-skull-crossbones"></i>
    </button>
  </div>

  <div id="stats-box">
    <table class="table table-striped">
      <tr>
        <td>Cas od zaciatku:</td>
        <td>{{elapsedTimeLabel}}</td>
        <td>Pocet zakaznikov:</td>
        <td>{{allAgents.length()}}</td>
        <td>Priemerny cas obsluhy:</td>
        <td>{{allAgents.avgDelayTime() / 1000 | number}}</td>
        <td>Min cas obsluhy:</td>
        <td>{{allAgents.minDelayTime() / 1000 | number}}</td>
      </tr>

      <tr>
        <td>Max dlzka frontu:</td>
        <td>{{-1}}</td>
        <td>Priemerny cas cakania:</td>
        <td>{{allAgents.avgWaitingTime() / 1000 | number}}</td>
        <td>Max cas cakania:</td>
        <td>{{allAgents.maxWaitingTime() / 1000 | number}}</td>
        <td>Max cas obsluhy:</td>
        <td>{{allAgents.maxDelayTime() / 1000 | number}}</td>
      </tr>
    </table>
  </div>

  <!-- FRONT -->
  <div id="customers-front">
    <div *ngFor="let c of agentsQueue; index as i" class="customer-box">
      <span class="font-3em">{{i + 1}}</span><br/> No: {{c.agentId}}
    </div>
  </div>

  <!-- Poslednych 5 zaznamov
  <div id="recent-arrivals" [hidden]="arrivals.size() === 0">
    <table class="table">
      <thead>
      <tr>
        <th>ID</th>
        <th>SYSTEM TIME [s]</th>
        <th>UTC TIME</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let arrival of arrivals.lastN(5); index as i">
        <td>{{i + 1}}</td>
        <td>{{arrival / 1000 | number}}</td>
        <td>--</td>
      </tr>
      </tbody>
    </table>
  </div>-->

  <div>
    <button class="btn btn-primary">Save</button>
  </div>

</div>
