<!-- Measurement form -->
<div id="measurement-form-box" [hidden]="measurementStarted">
  <app-new-measurement-form (messageEvent)="receiveMessage($event)"></app-new-measurement-form>
</div>

<!-- Measurement window -->
<div id="measurement-box" [hidden]="!measurementStarted" (keyup.n)="newAgentArrivalFunction()" (keyup.k)="endOfAgentDelayFunction()">
  <p><strong>Measurement {{measurement.name}}</strong></p>

  <!-- Buttons -->
  <div id="control-box">
    <div id="control-box-upper" class="btn-group-sm">
      <button class="btn btn-primary"
              title="Save current measurement"
              (click)="onSave()">
        Save
      </button>
      <button type="button" class="btn btn-info btn-secondary"
              title="Reset current measurement">
        <i class="fas fa-redo-alt"></i>
      </button>
      <button type="button" class="btn btn-danger btn-secondary"
              title="Delete current measurement">
        <i class="fas fa-skull-crossbones"></i>
      </button>
    </div>

    <div id="control-box-lower" class="btn-group">
      <button type="button" class="btn btn-secondary"
              (click)="newAgentArrivalFunction()">
        New arrival
      </button>
      <button type="button" class="btn btn-secondary"
              (click)="endOfAgentDelayFunction()">
        Stop delay
      </button>
    </div>
  </div>

  <!-- Front -->
  <div id="customers-front">
    <div *ngFor="let item of agentsQueue" class="customer-box">
      <img src="../../../../assets/person_icon.svg" alt="Person">
      <div class="customer-info">
        <table class="table-sm">
          <tr>
            <th>Agent</th>
            <th>#{{item.agentId}}</th>
          </tr>
          <tr>
            <td>Arrival</td>
            <td>{{item.arrival.getHours()}}:{{item.arrival.getMinutes()}}:{{item.arrival.getSeconds()}}</td>
          </tr>
          <tr>
            <td>Waiting</td>
            <td>{{(item.waitingTime / 1000) | number}}s</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <!-- Stats -->
  <div id="btn-stats" class="btn-group">
    <button type="button" class="btn btn-primary"
            title="Show statistics"
            (click)="toggleStats()">
      Stats
    </button>
  </div>
  <div id="stats-box" [hidden]="!statsEnabled">
    <table class="table table-striped">
      <tr>
        <td>Elapsed time:</td>
        <td>{{elapsedTimeLabel}}</td>
      </tr>
      <tr>
        <td>Agents count:</td>
        <td>{{allAgents.length()}}</td>
      </tr>
      <tr>
        <td>Average delay time:</td>
        <td>{{allAgents.avgDelayTime() / 1000 | number}}</td>
      </tr>
      <tr>
        <td>Min delay time:</td>
        <td>{{allAgents.minDelayTime() / 1000 | number}}</td>
      </tr>
      <tr>
        <td>Max queue length:</td>
        <td>{{-1}}</td>
      </tr>
      <tr>
        <td>Average waiting time:</td>
        <td>{{allAgents.avgWaitingTime() / 1000 | number}}</td>
      </tr>
      <tr>
        <td>Max waiting time:</td>
        <td>{{allAgents.maxWaitingTime() / 1000 | number}}</td>
      </tr>
      <tr>
        <td>Max delay time:</td>
        <td>{{allAgents.maxDelayTime() / 1000 | number}}</td>
      </tr>
    </table>

    <!-- Histograms -->
    <div id="histogram">
      <plotly-plot [data]="arrivalsHist.data" [layout]="arrivalsHist.layout"></plotly-plot>
      <plotly-plot [data]="delayHist.data" [layout]="delayHist.layout"></plotly-plot>
      <plotly-plot [data]="waitingHist.data" [layout]="waitingHist.layout"></plotly-plot>
    </div>
  </div>


  <!-- Poslednych 5 zaznamov
  <div id="recent-arrivals" [hidden]="arrivals.size() === 0">
    <table class="table">
      <thead>
      <tr>
        <th>ID</th>
        <th>SYSTEM TIME [s]</th>
        <th>UTC TIME</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let arrival of arrivals.lastN(5); index as i">
        <td>{{i + 1}}</td>
        <td>{{arrival / 1000 | number}}</td>
        <td>--</td>
      </tr>
      </tbody>
    </table>
  </div>-->

</div>
