#control-box {
  width: 100%;
}

#control-box div {
  width: 100%;
  margin-bottom: 2px;
}

#control-box-upper button {
  width: 33.33%;
}

#control-box-lower button {
  width: 50%;
}

#btn-stats {
  width: 100%;
  margin-top: 5px;
  text-align: center;
}

#btn-stats button {
  width: 100%;
}

#customers-front {
  min-height: 200px;
}
