#control-box {
  width: 100%;
}

#control-box div {
  width: 100%;
  margin-bottom: 2px;
}

#control-box-upper button {
  width: 33.33%;
}

#control-box-lower button {
  width: 50%;
}

#customers-front {
  min-height: 200px;
  max-width: 540px;
}

.customer-box {
  position: relative;
  display: inline-flex;
}

.customer-box .customer-info {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  font-size: 80%;
  border-radius: 6px;
  padding: 5px 0;

  position: absolute;
  z-index: 1;
}

.customer-box:hover .customer-info {
  visibility: visible;
}

#btn-stats {
  width: 100%;
  margin-top: 5px;
  text-align: center;
}

#btn-stats button {
  width: 100%;
}

#stats-box {
  margin-top: 10px;
}
