<div>
  <h1>Hello {{ currentUser.username }}!</h1>
  <p class="lead">Welcome to Data Collector.</p>
  <br/>

  <h2>Dashboard</h2>
  <ul>
    <li><a [routerLink]="[constants.ROUTE_IDENTIFIER_MEASUREMENT]">New measurement</a></li>
    <li><a [routerLink]="[constants.ROUTE_IDENTIFIER_AGENT_TYPE_EDITOR]">Agent types</a></li>
  </ul>
  <br/>

  <div>
    <h3>Recent measurements</h3>

    <span *ngIf = "measurements.length > 0; else measurementsEmpty">
      <table class="table table-striped">
        <tr>
          <th>No.</th>
          <th>Date</th>
          <th>Measurement</th>
          <th>Edit</th>
        </tr>

        <tr *ngFor="let item of measurements; let i = index">
          <td>{{ i + 1 }}.</td>
          <td>{{ item.startTime }}</td>
          <td>{{ item.name }}</td>
          <td>
            <a [routerLink]="[constants.ROUTE_IDENTIFIER_MEASUREMENT_DETAIL, item.measurementId]">
              <i class="fas fa-edit"></i>
            </a>
          </td>
        </tr>
      </table>
    </span>

    <ng-template #measurementsEmpty>
      <p>You have no recent measurements.</p>
    </ng-template>
  </div>
  <br/>

  <div>
    <h3>Account</h3>
    <ul>
      <li><a [routerLink]="[constants.ROUTE_IDENTIFIER_EDIT_PROFILE]">Edit profile</a></li>
      <li><a [routerLink]="[constants.ROUTE_IDENTIFIER_PASSWORD_CHANGE]">Change password</a></li>
      <li><a [routerLink]="[constants.ROUTE_IDENTIFIER_DELETE_ACCOUNT]">Delete account</a></li>
    </ul>
  </div>
  <br/>

  <p><a [routerLink]="[constants.ROUTE_IDENTIFIER_LOGIN]">Logout</a></p>
</div>
